*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.container
{
    width:1170px;
    margin: auto;    
}

html { scroll-behavior: smooth; }

body {
    font-family: 'Chakra Petch', sans-serif;
}

        /* start nav-bar */    
.nav-bar .sections {
    background-color: #151414;
    height: 800px;
    width: 120px;
    position: fixed;
    z-index: 999;
    -webkit-box-shadow: 3px 2px 8px #151414;
    -o-box-shadow: 3px 2px 8px #151414;
    box-shadow: 3px 2px 8px #151414;
}


.nav-bar .sections .logo h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    margin-left: 10px;
}

.nav-bar .sections .logo h3 span {
    color: #ee5253;
    font-weight: bold;
}
 
.nav-bar .sections a {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-bottom: 25px;
    padding: 10px 0 10px 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.nav-bar .sections a:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in-out;
    color: #ee5253;
    border-left: 2px solid #ee5253;
}

.nav-bar .sections a span {
    display: block;
    margin-top: 10px;
}

        /* end nav-bar */
        
        /* start home */
.home {
    background-image: url(../imgs/back.jpg);
    background-size: cover;
    height: 658px;
    filter: grayscale(20%);
    position: relative;
}

.home h3 {
    margin: auto;
    color: #fff;
    font-size: 46px;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-45% , -115%);
    -moz-transform: translate(-45% , -115%);
    -o-transform: translate(-45% , -115%);
    transform: translate(-45% , -115%);
}


.home h3 span {color: #ee5253;}

.home h3:hover {cursor: pointer;}

.home a {
    color: #fff;
    font-size: 28px;
    font-weight: 900;
    background-color: transparent;
    border: 3px solid #ee5253;
    padding: 10px 15px 10px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 30px 0 0 -90px;
    outline: none;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.home a:hover {
    cursor: pointer;
    background-color: #c7c7c7;
    color: #ee5253;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
        /* end home */
        
        /* start classes */
.classes .container h3 {
    margin: auto;
    color: #3a3737;
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 25px;
    width: 712px;
    -webkit-transform: translate(2% , 160%);
    -moz-transform: translate(2% , 160%);
    -o-transform: translate(2% , 160%);
    transform: translate(2% , 160%);
}

.classes .container > p {
    margin: auto;
    color: #525252;
    font-size: 16px;
    text-align: center;
    padding: 0 160px 0 105px;
    -webkit-transform: translate(5% , 230%);
    -moz-transform: translate(5% , 230%);
    -o-transform: translate(5% , 230%);
    transform: translate(5% , 230%);
}

.classes .flex-box {
    display: flex;
    flex-wrap: nowrap;
    -webkit-transform: translate(7%, 50%);
    -moz-transform: translate(7%, 50%);
    -o-transform: translate(7%, 50%);
    transform: translate(7%, 50%);
}

.classes .flex-box > div {
    height: 300px;
    width: 30%;
    margin-left: 60px;
}

.classes .flex-box > div i {
    font-size: 40px;
    color: #ee5253;
    margin: 25px 0 10px 66px;
}

.classes .flex-box > div h2 {
    color: #3a3737;
    transform: translateX(-15px);
}

.classes .flex-box > div p {
    text-align: center;
    color: #525252;
    width: 210px;
    line-height: 1.3;
}

.classes .flex-box > div .pr {
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
}

.classes .flex-box > div .he1 {transform: none;}

.classes .flex-box > div .he2 {transform: translateX(20px);}

        /* end classes */
        
        /* start features */
        
.features {margin-top: 200px}        

.features .container h3 {
    margin: auto;
    color: #3a3737;
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 110px;
    width: 712px;
    -webkit-transform: translate(25% , 74%);
    -moz-transform: translate(25% , 74%);
    -o-transform: translate(25% , 74%);
    transform: translate(25% , 74%);
}

.features .container .flex-box {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 110px;
}

.features .container .image {
    background-image: url(../imgs/back2.jpg);
    background-size: cover;
    width: 36%;
    height: 635px;
    margin-left: 30px;
}        
        
.features .container .pro {
    width: 60%;
    margin-left: 150px;
    text-align: left;
}

.features .container .pro i {
    font-size: 30px;
    color: #ee5253;
    margin: 80px 0 5px 0;
}

.features .container .pro p {
    color: #525252;
    width: 75%;
    line-height: 1.3;
    font-size: 20px;
}

.features .container .flex-box2 {
    background-color: #FAFAFA;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: nowrap;
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -o-transform: translateX(-50px);
    transform: translateX(-50px);
}

.features .container .image2 {
    background-image: url(../imgs/back3.jpg);
    background-size: cover;
    width: 220%;
    height: 586px;
    order: 2;
    -webkit-transform: translateX(138px);
    -moz-transform: translateX(138px);
    -o-transform: translateX(138px);
    transform: translateX(138px);
}

.features .container .com {
    order: 1;
    width: 134%;
    -webkit-transform: translateX(185px);
    -moz-transform: translateX(185px);
    -o-transform: translateX(185px);
    transform: translateX(185px);
}

.features .container .com h2 {
    width: 100px;
    font-size: 30px;
    color: #3a3737;
}

.features .container .com p {
    color: #525252;
    width: 84%;
    line-height: 1.3;
    font-size: 20px;
}

.features .container .com ul {
        margin-left: -20px;
        color: #525252;
}

.features .container .com ul li {
    margin-top: 20px;
    width: 63%;
}

.features .container .image3 {
    background-image: url(../imgs/back4.png);
    background-size: cover;
    width: 83%;
    height: 469px;
    margin-left: 40px;
}

.features .container .pro h2 {
    width: 55%;
    font-weight: 800;
    font-size: 30px;
    margin-top: 80px;
    color: #3a3737;
}

.features .container .pro p {
    color: #525252;
    width: 91%;
    line-height: 1.3;
    font-size: 20px;
}

.features .container .pro ul {
        margin-left: -20px;
        color: #525252;
}

.features .container .pro ul li {
    margin-top: 20px;
    width: 63%;
}
        /* end features */
        
        /* start pricing */
.pricing .flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #2E2E30;
    height: 878px;
}

.pricing .flex-container h3 {
    font-size: 50px;
    color: #fff;
    margin-top: 70px;
    -webkit-transform: translateX(245%);
    -moz-transform: translateX(245%);
    -o-transform: translateX(245%);
    transform: translateX(245%);
}

.pricing .flex-container > p {
    text-align: center;
    color: #8e8b8b;
    font-size: 20px;
    width: 50%;
    -webkit-transform: translate(23%, 45%);
    -moz-transform: translate(23%, 45%);
    -o-transform: translate(23%, 45%);
    transform: translate(23%, 45%);
}

.pricing .flex-container .card {
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    width: 25%;
    height: 45%;
    margin-left: 100px;
    text-align: center;
    -webkit-transform: translateX(70%);
    -moz-transform: translateX(70%);
    -o-transform: translateX(70%);
    transform: translateX(70%);
}

.pricing .flex-container .front, .pricing .flex-container .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.pricing .flex-container .front {
    background-color: #222225;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

.pricing .flex-container .front h3 {
    color: #fff;
    margin-top: 130px;
    margin-bottom: 60px;
    font-size: 32px;
    -webki-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.pricing .flex-container .front span {
    background-color: #ee5253;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    padding: 15px 60px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.pricing .flex-container .back {
    background-color: #222225;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.pricing .flex-container .back h1 {
    color: #ee5253;
    margin-top: 130px;
    margin-bottom: 60px;
    font-size: 32px;
    -webki-transform: translatey(-50px);
    -moz-transform: translatey(-50px);
    -o-transform: translatey(-50px);
    transform: translatey(-50px);
}

.pricing .flex-container .back p{
    font-size: 19px;
    line-height: 2;
    color: #fff;
    -webkit-transform: translateY(-45%);
    -moz-transform: translateY(-45%);
    -o-transform: translateY(-45%);
    transform: translateY(-45%);
}

.pricing .flex-container .card:hover .front {transform: rotateY(180deg);}

.pricing .flex-container .card:hover .back {transform: rotateY(360deg);}

.pricing .wait-list {
    background-image: url(../imgs/back5.jpg);
    background-size: cover;
    height: 759px;
}

.pricing .wait-list h1 {
    margin: auto;
    width: 55%;
    color: #fff;
    word-spacing: 2px;
    -webkit-transform: translate(5%, 580%);
    -moz-transform: translate(5%, 580%);
    -o-transform: translate(5%, 580%);
    transform: translate(5%, 580%);
}

.pricing .wait-list p {
    color: #fff;
    font-size: 20px;
    text-align: center;
    width: 30%;
    line-height: 1.6;
    -webkit-transform: translate(125%, 350%);
    -moz-transform: translate(125%, 350%);
    -o-transform: translate(125%, 350%);
    transform: translate(125%, 350%);
}

.pricing .wait-list input[type="text"] {
    width: 445px;
    padding: 13px;
    outline: none;
    border: none;
    border-radius: 10px 0 0 5px;
    -webkit-transform: translate(90%, 295px);
    -moz-transform: translate(90%, 295px);
    -o-transform: translate(90%, 295px);
    transform: translate(90%, 295px);
}

.pricing .wait-list input[type="submit"] {
    width: 130px;
    padding: 13px;
    background-color: #2E2E30;
    color: #EE5253;
    outline: none;
    border: none;
    border-radius: 0 5px 10px 0;
    -webkit-transform: translate(310%, 295px);
    -moz-transform: translate(310%, 295px);
    -o-transform: translate(310%, 295px);
    transform: translate(310%, 295px);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.pricing .wait-list input[type="submit"]:hover {
    background-color: #000;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
        /* end pricing */
        
        /* start contact */
.contact {
    width: 100%;
    height: 350px;
    background-color: #222225;
}

.contact .flex-box3 {
    display: flex;
    width: 92%;
    margin-top: 0;
}

.contact div:nth-of-type(1) {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    -webkit-transform: translate(105px, 18px);
    -moz-transform: translate(105px, 18px);
    -o-transform: translate(105px, 18px);
    transform: translate(105px, 18px);
}

.contact div:nth-of-type(1) h3 {
    color: #EE5253;
    font-size: 30px;
    letter-spacing: 3px;
}

.contact div:nth-of-type(1) a {
    color: #FFF;
    display: block;
    margin-top: 20px;
    margin-right: 15px;
    font-size: 25px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.contact div:nth-of-type(1) a:nth-of-type(1):hover {color: #EE5253;}

.contact div:nth-of-type(1) a:nth-of-type(2):hover {color: #21A3F2;}

.contact div:nth-of-type(1) a:nth-of-type(3):hover {color: #FF0000;}

.contact div:nth-of-type(1) a:nth-of-type(4):hover {color: #4267B2;}

.contact div:nth-of-type(2) {
    width: 275px;
    margin-top: 21px;
    -webkit-transform: translateX(250px);
    -moz-transform: translateX(250px);
    -o-transform: translateX(250px);
    transform: translateX(250px);
}

.contact div:nth-of-type(2) p {line-height: 1.6;}

.contact div:nth-of-type(2) a {
    margin-top: 28px;
    width: 100%;
    padding: 10px;
    border: 2px solid #EE5253;
}

.contact div:nth-of-type(2) a:hover {
    background-color: #C7C7C7;
}

.contact div:nth-of-type(3) {
    margin-top: 21px;
    width: 430px;
    -webkit-transform: translateX(350px);
    -moz-transform: translateX(350px);
    -o-transform: translateX(350px);
    transform: translateX(350px);
}
 
.contact div:nth-of-type(3) p {line-height: 1.6;}
        /* end contact */

.up {
    position: fixed;
    left: 94%;
    bottom: -9%;
    width: 45px;
    z-index: 999;
    height: 45px;
    font-size: 20px;
    line-height: 49px;
    text-align: center;
    color: #FFF;
    background-color: #EE5253;
    border-radius: 50%;
    opacity: 0.5;
    transform: translate(0, -74px);
}

.up:hover {
    font-size: 22px;
    opacity: 1;
    line-height: 43px;
}